# --- PRODUCTION / DOCKER ---

POSTGRES\_USER=your\_postgres\_user
POSTGRES\_PASSWORD=your\_postgres\_password
POSTGRES\_DB=your\_database\_name
POSTGRES\_HOST=db
POSTGRES\_PORT=5432
DATABASE\_URL=postgresql+psycopg2://your\_postgres\_user\:your\_postgres\_password\@db:5432/your\_database\_name

# --- JWT ---

SECRET\_KEY=your\_secret\_key
ALGORITHM=HS256
ACCESS\_TOKEN\_EXPIRE\_MINUTES=30
